* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary-bgcolor: #000814;
  --secondary-bgcolor: #212a31;
  --primary-shadow-color: #737774;
  --uppercontent-color: #232f3a;
  --secondary-shadow-color: #000814;
  --primary-text-color: #748d92;
}

h1 {
  font-size: 2.7rem;
  color: var(--primary-text-color);
}

h2 {
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

p {
  font-size: 1.1rem;
  color: rgb(158, 181, 201);
}
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000814;
}

.container {
  /* height: 40vh; */
  width: 60vw;
  background-color: var(--secondary-bgcolor);
  box-shadow: 1px 1px 15px var(--primary-shadow-color) inset;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
}

.uppercontent {
  /* height: 35vh; */
  background-color: var(--uppercontent-color);
  margin: 1rem 2rem;
  box-shadow: 1px 1px 15px var(--secondary-shadow-color) inset;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
}

.uppercontent-maintext {
  margin-bottom: 15px;
}

button {
  padding: 12px;
  color: #fff;
  background-color: teal;
  border: none;
  outline: none;
  width: 7rem;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: 15px;
}

/* lower content*/

.lowercontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 60vh; */
  margin: 10px;
  display: none;
  /* background-color: red; */
}

.leftcontent {
  /* height: 60%; */
  width: 50%;
  margin: 0 1rem;
  background-color: var(--uppercontent-color);
  box-shadow: 1px 1px 15px var(--secondary-shadow-color) inset;
  border-radius: 20px;
}
form {
  text-align: center;
  padding: 20px;
}

.labeltxt {
  color: #d1dbe4;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.inputtxt {
  width: 6rem;
  border: none;
  outline: none;
  background-color: #8393a2;
  padding: 12px;
  border-radius: 15px;
  margin-bottom: 16px;
}

#submitbtn {
  padding: 12px;
  width: 8rem;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #8e9ca9;
  color:whitesmoke;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(24, 97, 97);
}

.rightcontent {
  /* height: 60vh; */
  width: 50%;
  background-color: var(--uppercontent-color);
  margin: 0 1rem;
  box-shadow: 1px 1px 15px var(--secondary-shadow-color) inset;
  border-radius: 20px;
  text-align: center;
  padding: 20px 20px;
}

.rightcontent-text {
  margin: 15px;
  color: #d1dbe4;
  font-size: 20px;
}


#startoverbtn {
  background-color: rgb(24, 97, 97);
  color:whitesmoke;
  font-weight: 500;
  font-size: 18px;
  padding: 12px;
  width: 8rem;
  border-radius: 15px;
  border: none;
  outline: none;
  margin-left: 9rem;
}
